<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{ games?.name }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.xs="column">
      <div
        fxFlex="65%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
      >
        <div [style.margin-right]="'20px'">
          <mat-card>
            <img mat-card-image *ngIf="games?.profile_image" [src]="games?.profile_image" [alt]="games?.name" style="max-width: 240px; max-height: 320px;">
            <mat-card-content>
              <!-- <div>
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://via.placeholder.com/1080x540" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://via.placeholder.com/1080x540" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://via.placeholder.com/1080x540" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>

              <br>
              <mat-divider></mat-divider>
              <br> -->
              <div class="categories-container" *ngIf="games?.categories">
                <div class="category-badge" *ngFor="let category of games?.categories">{{ category }}</div>
              </div>
              <div class="platforms-container" *ngIf="games?.platforms">
                <div class="platform-badge" *ngFor="let platform of games?.platforms">{{ platform }}</div>
              </div>
              <br>
              <mat-divider></mat-divider>
              <br>
              <div class="justified-text" *ngIf="safeAbout" [innerHTML]="safeAbout">
              </div>
              <!-- {{games?.about}} -->
            </mat-card-content>
          </mat-card>
        </div>
        <br>
        <div [style.margin-right]="'20px'" *ngIf="games?.operative_systems">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Requisitos
              </mat-card-title>
              <mat-card-subtitle>
                Este juego funciona en:
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-tab-group color="accent">
                <ng-container *ngIf="games?.operative_systems?.includes('WINDOWS')">
                  <mat-tab label="WINDOWS">
                    <mat-card *ngIf="games?.windows_req_min_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Mínimos</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.windows_req_min_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.windows_req_min_so }}
                          </div>
                          <div *ngIf="games?.windows_req_min_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.windows_req_min_processor }}
                          </div>
                          <div *ngIf="games?.windows_req_min_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.windows_req_min_directx }}
                          </div>
                          <div *ngIf="games?.windows_req_min_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.windows_req_min_ram }}
                          </div>
                          <div *ngIf="games?.windows_req_min_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.windows_req_min_storage }}
                          </div>
                          <div *ngIf="games?.windows_req_min_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.windows_req_min_graphic_card }}
                          </div>
                          <div *ngIf="games?.windows_req_min_network">
                            <span style="color: gray;">Internet: </span>{{ games?.windows_req_min_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card *ngIf="games?.windows_req_rec_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Recomendados</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.windows_req_rec_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.windows_req_rec_so }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.windows_req_rec_processor }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.windows_req_rec_directx }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.windows_req_rec_ram }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.windows_req_rec_storage }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.windows_req_rec_graphic_card }}
                          </div>
                          <div *ngIf="games?.windows_req_rec_network">
                            <span style="color: gray;">Internet: </span>{{ games?.windows_req_rec_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>

                <ng-container *ngIf="games?.operative_systems?.includes('MAC')">
                  <mat-tab label="MAC">
                    <mat-card *ngIf="games?.mac_req_min_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Mínimos</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.mac_req_min_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.mac_req_min_so }}
                          </div>
                          <div *ngIf="games?.mac_req_min_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.mac_req_min_processor }}
                          </div>
                          <div *ngIf="games?.mac_req_min_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.mac_req_min_directx }}
                          </div>
                          <div *ngIf="games?.mac_req_min_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.mac_req_min_ram }}
                          </div>
                          <div *ngIf="games?.mac_req_min_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.mac_req_min_storage }}
                          </div>
                          <div *ngIf="games?.mac_req_min_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.mac_req_min_graphic_card }}
                          </div>
                          <div *ngIf="games?.mac_req_min_network">
                            <span style="color: gray;">Internet: </span>{{ games?.mac_req_min_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card *ngIf="games?.mac_req_rec_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Recomendados</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.mac_req_rec_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.mac_req_rec_so }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.mac_req_rec_processor }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.mac_req_rec_directx }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.mac_req_rec_ram }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.mac_req_rec_storage }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.mac_req_rec_graphic_card }}
                          </div>
                          <div *ngIf="games?.mac_req_rec_network">
                            <span style="color: gray;">Internet: </span>{{ games?.mac_req_rec_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>

                <ng-container *ngIf="games?.operative_systems?.includes('LINUX')">
                  <mat-tab label="LINUX">
                    <mat-card *ngIf="games?.linux_req_min_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Mínimos</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.linux_req_min_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.linux_req_min_so }}
                          </div>
                          <div *ngIf="games?.linux_req_min_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.linux_req_min_processor }}
                          </div>
                          <div *ngIf="games?.linux_req_min_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.linux_req_min_directx }}
                          </div>
                          <div *ngIf="games?.linux_req_min_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.linux_req_min_ram }}
                          </div>
                          <div *ngIf="games?.linux_req_min_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.linux_req_min_storage }}
                          </div>
                          <div *ngIf="games?.linux_req_min_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.linux_req_min_graphic_card }}
                          </div>
                          <div *ngIf="games?.linux_req_min_network">
                            <span style="color: gray;">Internet: </span>{{ games?.linux_req_min_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card *ngIf="games?.linux_req_rec_so">
                      <mat-card-header>
                        <mat-card-subtitle><h3>Requisitos Recomendados</h3></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div>
                          <div *ngIf="games?.linux_req_rec_so">
                            <span style="color: gray;">Sistema Operativo: </span>{{ games?.linux_req_rec_so }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_processor">
                            <span style="color: gray;">Procesador: </span>{{ games?.linux_req_rec_processor }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_directx">
                            <span style="color: gray;">DirectX: </span>{{ games?.linux_req_rec_directx }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_ram">
                            <span style="color: gray;">Ram: </span>{{ games?.linux_req_rec_ram }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_storage">
                            <span style="color: gray;">Almacenamiento: </span>{{ games?.linux_req_rec_storage }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_graphic_card">
                            <span style="color: gray;">Tarjeta Gráfica: </span>{{ games?.linux_req_rec_graphic_card }}
                          </div>
                          <div *ngIf="games?.linux_req_rec_network">
                            <span style="color: gray;">Internet: </span>{{ games?.linux_req_rec_network }}
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>
              </mat-tab-group>

            </mat-card-content>
          </mat-card>
          <br>
        </div>
      </div>

      <div
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
      >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Valoracion de usuarios
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div [ngClass]="valueColor <= 1.6 ? 'square square-red' :
                          valueColor <= 3.3 ? 'square square-yellow' : 'square square-green'">
            <span>{{valueColor}}</span>
          </div>
          <p *ngIf="valueColor == 0" style="font-size: 12px;">
            No hay reseñas o el juego es MUY malo
          </p>
        </mat-card-content>
      </mat-card>
      <br>
        <mat-card *ngIf="games?.classification">
          <mat-card-content>
            {{ games?.classification }}
            <div class="esrb-container">
              <div>
                <img [src]="esrb" decoding="async" width="60" height="90">
              </div>
              <div>
                <p>
                  {{ classificationDescriptors }}
                </p>
              </div>
            </div>
            <div>
              <p>
                Clasificación de ESRB
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <br *ngIf="games?.classification">
        <mat-card>
          <mat-card-content>
            <div *ngIf="games?.name">
              TÍTULO: {{ games?.name }}
            </div>
            <div *ngIf="games?.developers">
              DESARROLLADOR: {{ games?.developers }}
            </div>
            <div *ngIf="games?.editors">
              EDITOR: {{ games?.editors }}
            </div>
            <div *ngIf="games?.franchise">
              FRANQUICIA: {{ games?.franchise }}
            </div>
            <div *ngIf="games?.publication_date">
              FECHA DE LANZAMIENTO: {{ games?.publication_date.toDate() | date }}
            </div>
          </mat-card-content>
        </mat-card>
        <br *ngIf="mode">

        <mat-card *ngIf="mode">
          <mat-card-content>
            <div>
              <div *ngFor="let item of mode" class="esrb-container">
                <div>
                  <img [src]="item.image" decoding="async" [alt]="item.name" />
                </div>
                <div>
                  {{ item.name }}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>

        <mat-card *ngIf="dataLanguage">
          <mat-card-content>

            <table mat-table [dataSource]="combinedData">
              <ng-container matColumnDef="lang_interface">
                <th mat-header-cell *matHeaderCellDef>Idioma de Interface</th>
                <td mat-cell *matCellDef="let item" data-label="lang_interface">{{ item.lang_interface }}</td>
              </ng-container>

              <ng-container matColumnDef="lang_subtitles">
                <th mat-header-cell *matHeaderCellDef>Idioma de Subtitulos</th>
                <td mat-cell *matCellDef="let item" data-label="lang_subtitles">{{ item.lang_subtitles }}</td>
              </ng-container>

              <ng-container matColumnDef="lang_voices">
                <th mat-header-cell *matHeaderCellDef>Idioma de Voces</th>
                <td mat-cell *matCellDef="let item" data-label="lang_voices">{{ item.lang_voices }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- RESEÑAS O COMENTARIOS -->
<br>
<app-login *ngIf="!userData && !authService.isLoggedIn"></app-login>
<mat-card *ngIf="userData && authService.isLoggedIn">
  <form [formGroup]="ratingForm" novalidate >
    <div class="alert alert-warning" role="alert" *ngIf="ratingForm.disabled">
      No puedes crear otra reseña, correo duplicado.
    </div>
    <mat-card-content>
      <div class="image-textarea-container">
        <img class="align-self-start mr-5 img-thumbnail rounded-circle" *ngIf="userData"
          src="{{(userData.photoURL) ? userData.photoURL : '/assets/dummy-user.png'}}"
          alt="{{userData.displayName}}">
        <mat-form-field class="textarea-field">
          <mat-label>Escribe tu reseña</mat-label>
          <div class="textarea-container">
            <textarea matInput rows="7" class="textarea" formControlName="comment"></textarea>
          </div>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="rating"><!--
      --><input name="stars" (click)="setRating(5)" id="e5" type="radio"><label for="e5">★</label><!--
        --><input name="stars" (click)="setRating(4)" id="e4" type="radio"><label for="e4">★</label><!--
        --><input name="stars" (click)="setRating(3)" id="e3" type="radio"><label for="e3">★</label><!--
        --><input name="stars" (click)="setRating(2)" id="e2" type="radio"><label for="e2">★</label><!--
        --><input name="stars" (click)="setRating(1)" id="e1" type="radio"><label for="e1">★</label>
      </div>
      <span class="flex-spacer"></span>
      <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="ratingForm.disabled">
        Publicar reseña
      </button>
      <button mat-raised-button color="primary" *ngIf="authService.isLoggedIn" (click)="authService.logout()">
        Cerrar sesion
      </button>
    </mat-card-actions>
  </form>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Existen {{numComments}} reseñas de usuarios
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content *ngIf="ratings">
    <div>
      <div *ngFor="let item of ratings">
        <div fxFlex="25%">
          <h6>{{item.username}}</h6>
          <img src="{{(item.photoURL) ? item.photoURL : '/assets/dummy-user.png'}}" alt="{{item.username}}">
        </div>
        <div fxFlex="75%">
          <div>Puntuacion: <strong>{{item.rating}} de 5</strong></div>
          <mat-divider></mat-divider>
          <div style="font-size: 12px;">Publicado el: {{item.updatedAt.toDate() | date: 'fullDate':'+0200':'es' }}</div>
          <div style="padding: 10px;">{{item.comment}}</div>
        </div>
        <div *ngIf="userData && userData.email == item.email">
          <button mat-raised-button (click)="update(item.id)">Editar</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
