<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ games?.name }}
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.xs="column">
      <div
        fxFlex="65%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
      >
        <div [style.margin-right]="'20px'">
          <mat-card>
            <mat-card-content>
              <div>
                (galeria de imagenes)
              </div>
              <div class="categories-container">
                <div class="category-badge" *ngFor="let category of games?.categories">{{ category }}</div>
              </div>
              <div class="platforms-container">
                <div class="platform-badge" *ngFor="let platform of games?.platforms">{{ platform }}</div>
              </div>
              <div>
                Sobre el juego: {{ games?.about }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <br>
        <div [style.margin-right]="'20px'" *ngIf="games?.operative_systems">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Requisitos
              </mat-card-title>
              <mat-card-subtitle>
                Este juego funciona en:
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-tab-group>
                <ng-container *ngIf="games?.operative_systems?.includes('WINDOWS')">
                  <mat-tab label="WINDOWS">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-subtitle>Requisitos Minimos</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.windows_req_min_so }}
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                      <mat-card-header>
                        <mat-card-subtitle>Requisitos Recomendados</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.windows_req_rec_so }}
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>

                <ng-container *ngIf="games?.operative_systems?.includes('MAC')">
                  <mat-tab label="MAC">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Requisitos Minimos</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.mac_req_min_so }}
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Requisitos Recomendados</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.mac_req_rec_so }}
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>
                <ng-container *ngIf="games?.operative_systems?.includes('LINUX')">
                  <mat-tab label="LINUX">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Requisitos Minimos</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.linux_req_min_so }}
                      </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Requisitos Recomendados</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        {{ games?.linux_req_rec_so }}
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                </ng-container>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
          <br>
        </div>
      </div>

      <div
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
      >
        <mat-card *ngIf="games?.classification">
          <mat-card-content>
            {{ games?.classification }}
            <div class="esrb-container">
              <div>
                <img [src]="esrb" decoding="async" width="60" height="90">
              </div>
              <div>
                <p>
                  {{ classificationDescriptors }}
                </p>
              </div>
            </div>
            <div>
              <p>
                Clasificación de ESRB
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-content>
            <div>
              TÍTULO: {{ games?.name }}
            </div>
            <div>
              DESARROLLADOR: {{ games?.developers }}
            </div>
            <div>
              EDITOR: {{ games?.editors }}
            </div>
            <div>
              FRANQUICIA: {{ games?.franchise }}
            </div>
            <div>
              FECHA DE LANZAMIENTO: {{ games?.publication_date.toDate() | date }}
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-content>
            <div>
              Modos de Juego: {{ games?.game_modes }}
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-content>

            <table mat-table [dataSource]="combinedData">
              <ng-container matColumnDef="lang_interface">
                <th mat-header-cell *matHeaderCellDef>Idioma de Interface</th>
                <td mat-cell *matCellDef="let item" data-label="lang_interface">{{ item.lang_interface }}</td>
              </ng-container>

              <ng-container matColumnDef="lang_subtitles">
                <th mat-header-cell *matHeaderCellDef>Idioma de Subtitulos</th>
                <td mat-cell *matCellDef="let item" data-label="lang_subtitles">{{ item.lang_subtitles }}</td>
              </ng-container>

              <ng-container matColumnDef="lang_voices">
                <th mat-header-cell *matHeaderCellDef>Idioma de Voces</th>
                <td mat-cell *matCellDef="let item" data-label="lang_voices">{{ item.lang_voices }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
