<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Contactame</h2></mat-card-title>
  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <p>¡Nos encantaría saber de ti! Si tienes alguna pregunta, sugerencia o simplemente deseas ponerte en contacto con nosotros, no dudes en enviarnos un correo electrónico a
      <a href="mailto:game.nation9x9@gmail.com"><strong>game.nation9x9@gmail.com</strong></a>.
      Nuestro equipo estará encantado de responder a tus consultas y brindarte la ayuda que necesites.
      Valoramos mucho tu opinión y estamos comprometidos en ofrecerte la mejor experiencia.
      ¡Esperamos con entusiasmo recibir noticias tuyas y descubrir qué aventuras te esperan en Game Nation!
    </p>
  </mat-card-content>
</mat-card>
