<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Política de Privacidad</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Bienvenido a Game Nation X. Esta política de privacidad rige el uso de nuestro sitio web ubicado en <strong><a href="https://www.gamenax.com/">www.gamenax.com</a></strong> y cualquier servicio relacionado que ofrecemos.</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <h2>1.- Información que Recopilamos</h2>
    <p>Para brindar servicios adicionales, como la capacidad de crear reseñas en la calificación de juegos, podemos recopilar información personal identificable cuando te registras y/o inicias sesión en nuestro sitio web. Esta información puede incluir tu nombre de usuario, dirección de correo electrónico y cualquier otra información que elijas proporcionar voluntariamente.</p>

    <h2>2.- Uso de la Información Recopilada</h2>
    <p>Utilizamos la información recopilada para mejorar nuestro sitio web, personalizar tu experiencia de usuario, proporcionar contenido relevante y analizar tendencias de uso. No compartimos tu información con terceros, excepto cuando sea necesario para brindar los servicios solicitados por ti o cuando la ley lo requiera.</p>

    <h2>3.- Cookies y Tecnologías Similares</h2>
    <p>Utilizamos cookies y tecnologías similares para recopilar información y mejorar la funcionalidad de nuestro sitio web. Puedes configurar tu navegador para rechazar las cookies, pero esto puede limitar ciertas funciones y características de nuestro sitio.</p>

    <h2>4.- Enlaces a Sitios de Terceros</h2>
    <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. No nos responsabilizamos de las prácticas de privacidad o el contenido de dichos sitios. Te recomendamos revisar las políticas de privacidad de esos sitios antes de proporcionar cualquier información personal.</p>

    <h2>5.- Seguridad de la Información</h2>
    <p>Implementamos medidas de seguridad adecuadas para proteger la información recopilada y prevenir el acceso no autorizado, la divulgación o la alteración de los datos. Sin embargo, ninguna transmisión por Internet o método de almacenamiento electrónico es completamente seguro. Aunque nos esforzamos por proteger tus datos, no podemos garantizar su seguridad absoluta.</p>

    <h2>6.- Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento sin previo aviso. Cualquier cambio entrará en vigencia inmediatamente después de su publicación en nuestro sitio web. Te recomendamos revisar periódicamente esta política para estar al tanto de cualquier actualización.</p>

    <h2>7. Consentimiento</h2>
    <p>Al utilizar nuestro sitio web y proporcionar tu información personal, aceptas los términos de esta política de privacidad y nos das tu consentimiento para recopilar, utilizar y almacenar dicha información de acuerdo con lo establecido en esta política.</p>

    <p>Si tienes alguna pregunta o inquietud acerca de nuestra política de privacidad, no dudes en contactarnos a través de los medios de contacto proporcionados en nuestra sección <a [routerLink]="['info/contact']"><strong>Contactanos</strong></a>.</p>
  </mat-card-content>
</mat-card>
