<footer class="footer">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div fxFlex="30%">
      <p>Tu apoyo cuenta mucho</p>
      <div class="fa fa-heart"></div>
      <div id="donate-button-container">
        <div id="donate-button"></div>
      </div>
    </div>

    <div fxFlex="40%">
      <div class="footer-social-icons">
        <h4 class="_14">Redes sociales</h4>
        <ul class="social-icons">
          <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="https://instagram.com/game_nationx?igshid=MzNlNGNkZWQ4Mg==" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    <div fxFlex="30%">
      Construido por jugadores, hecho para jugadores.
      <br>
      Si te gusta el contenido, apoyanos con un gesto de corazon.
    </div>
  </div>
</footer>
