<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Contacto</h1></mat-card-title>
  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <p>¡Gracias por visitar Game Nation X! Valoramos tus comentarios, preguntas y sugerencias. Si deseas ponerte en contacto con nosotros, puedes hacerlo a través de los siguientes medios:</p>
    <p><strong>Correo electrónico: </strong><a style="color: black;" href="mailto:game.nation9x9@gmail.com">game.nation9x9@gmail.com</a></p>
    <p>No dudes en contactarnos si tienes alguna pregunta sobre nuestros contenidos, deseas colaborar con nosotros, tienes problemas técnicos o cualquier otra consulta relacionada con Game Nation X. Estaremos encantados de ayudarte y responder a tus inquietudes en la medida de nuestras posibilidades.</p>
    <p>Apreciamos tu interés y tu apoyo a Game Nation X. Tu participación es fundamental para nuestro crecimiento y mejora continua. Esperamos poder escucharte y brindarte la mejor experiencia posible en nuestro sitio web.</p>
    <p>¡Esperamos recibir noticias tuyas pronto!</p>
  </mat-card-content>
</mat-card>
