<mat-card class="game-card">
  <mat-card-header class="game-card-header">
    <button mat-raised-button color="accent" (click)="newGame()">
      Nuevo Registro
    </button>
    <button mat-raised-button color="accent" (click)="generateSitemap()">
      Generar Sitemap de juegos
    </button>
  </mat-card-header>
  <mat-divider class="game-card-divider"></mat-divider>
  <mat-card-content class="game-card-content">
    <mat-table #table [dataSource]="dataSourceGames" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef > Acciones </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="actions">
          <button mat-flat-button color="primary" (click)="onGameEdit(row)">
            <mat-icon> remove_red_eye </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="published">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Published"> Publicado </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="published">
          <mat-slide-toggle [checked]="item.published" (change)="updatePublished(item, $event)"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Juego </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="name"> {{item.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publication_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Publication Date"> Fecha Lanzamiento </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="publication_date"> {{item.publication_date.toDate() | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Categories"> Categorias </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="categories">
          {{ item.categories ? item.categories.join(', ') : '' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by CreatedAt"> Creacion </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="createdAt"> {{item.createdAt.toDate() | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by UpdatedAt"> Ultima Actualizacion </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="updatedAt"> {{item.updatedAt.toDate() | date }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayeColumnGames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayeColumnGames;" ></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 30, 50]"
                     showFirstLastButtons
                     aria-label="Select page"
                     >
    </mat-paginator>
  </mat-card-content>
</mat-card>

<br>
<mat-divider class="game-card-divider"></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Categorias
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-categories-table></app-categories-table>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Plataformas
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-platforms-table></app-platforms-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Desarrolladores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-developers-table></app-developers-table>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Editores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-editors-table></app-editors-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Editores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-franchises-table></app-franchises-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
