<mat-card class="game-card">
  <mat-card-header class="game-card-header">
    <button mat-raised-button color="accent" (click)="newGame()">
      Nuevo Registro
    </button>
    <button mat-raised-button color="accent" (click)="generateSitemap()">
      Generar Sitemap de juegos
    </button>
  </mat-card-header>
  <mat-divider class="game-card-divider"></mat-divider>
  <mat-card-content class="game-card-content">
    <table mat-table #table [dataSource]="dataSourceGames" matSort>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef > Acciones </th>
        <td mat-cell *matCellDef="let row" data-label="actions">
          <button mat-flat-button color="primary" (click)="onGameEdit(row)">
            <mat-icon> remove_red_eye </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publicado </th>
        <td mat-cell *matCellDef="let item" data-label="published">
          <mat-slide-toggle [checked]="item.published" (change)="updatePublished(item, $event)"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Juego </th>
        <td mat-cell *matCellDef="let item" data-label="name"> {{item.name}} </td>
      </ng-container>

      <ng-container matColumnDef="franchise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Franquicia </th>
        <td mat-cell *matCellDef="let item" data-label="franchise"> {{item.franchise}} </td>
      </ng-container>

      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorias </th>
        <td mat-cell *matCellDef="let item" data-label="categories">
          {{ item.categories ? item.categories.join(', ') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="platforms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Plataformas </th>
        <td mat-cell *matCellDef="let item" data-label="platforms">
          {{ item.platforms ? item.platforms.join(', ') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creacion </th>
        <td mat-cell *matCellDef="let item" data-label="createdAt"> {{item.createdAt.toDate() | date }} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima Actualizacion </th>
        <td mat-cell *matCellDef="let item" data-label="updatedAt"> {{item.updatedAt.toDate() | date }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayeColumnGames"></tr>
      <tr mat-row *matRowDef="let row; columns: displayeColumnGames;" ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 30, 50]"
                     showFirstLastButtons
                     aria-label="Select page"
                     >
    </mat-paginator>
  </mat-card-content>
</mat-card>

<br>
<mat-divider class="game-card-divider"></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Categorias
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-categories-table></app-categories-table>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Plataformas
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-platforms-table></app-platforms-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Desarrolladores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-developers-table></app-developers-table>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Editores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-editors-table></app-editors-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card class="game-card">
      <mat-card-header class="game-card-header">
        <mat-card-title class="game-card-title">
          Editores
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="game-card-divider"></mat-divider>
      <mat-card-content class="game-card-content">
        <app-franchises-table></app-franchises-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
