<mat-card>
  <mat-card-header>
    <mat-card-title>Categorias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-categories></app-categories>
  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>Plataformas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-platforms></app-platforms>
  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>Ultimos Subidos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-latest-uploads></app-latest-uploads>
  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>Ultimas Actualizaciones</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-latest-updates></app-latest-updates>
  </mat-card-content>
</mat-card>
