<button mat-raised-button color="primary" (click)="onPlatformDialogCreate()">Crear</button>
<mat-table #table [dataSource]="dataSourcePlatform" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef > Acciones </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="actions">
      <button mat-flat-button color="primary" (click)="onPlatformDialogEdit(row)">
        <mat-icon> remove_red_eye </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Plataformas -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Plataformas </mat-header-cell>
    <mat-cell *matCellDef="let item" data-label="name"> {{item.name}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumnPlatforms"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnPlatforms;" ></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 15, 30]"
                showFirstLastButtons
                aria-label="Select page"
                >
</mat-paginator>
