<mat-card>
  <mat-card-header>
    <mat-card-title>
      Crear Nuevo Registro de Juegos
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div *ngIf="!submitted">
      <mat-stepper #stepper linear>
        <mat-step [stepControl]="gameForm" label="Informacion Basica">
          <form [formGroup]="gameForm" novalidate>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Fecha de Creacion</mat-label>
                <input matInput [matDatepicker]="picker0" formControlName="release_date">
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Fecha de Publicacion</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="publication_date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Franquicia</mat-label>
                <input matInput formControlName="franchise">
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Desarrolladores</mat-label>
                <input matInput formControlName="developers">
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>Sobre el Juego</mat-label>
                <textarea matInput
                  formControlName="about"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                ></textarea>
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFlex="25%">
                <mat-label>Categorias</mat-label>
                <mat-select formControlName="categories" multiple>
                  <mat-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="25%">
                <mat-label>Plataformas</mat-label>
                <mat-select formControlName="platforms" multiple>
                  <mat-option *ngFor="let platform of platforms" [value]="platform.name">{{platform.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="25%">
                <mat-label>Editores</mat-label>
                <input matInput formControlName="editors">
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="25%">
                <mat-label>Modos de Juego</mat-label>
                <input matInput formControlName="game_modes">
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFlex="35%">
                <mat-label>Clasificacion</mat-label>
                <mat-select formControlName="classification">
                  <mat-option *ngFor="let clas of classification" [value]="clas.title"> {{ clas.title }} </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="65%">
                <mat-label>Contenido Descriptivo</mat-label>
                <mat-select formControlName="classification_descriptors" multiple>
                  <mat-option *ngFor="let description of classificationDescriptors" [value]="description.content"> {{ description.content }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFlex="33.3%">
                <mat-label>Idioma de Interface</mat-label>
                <mat-select formControlName="lang_interface" multiple>
                  <mat-option *ngFor="let interface of languages" [value]="interface.language"> {{ interface.language }} </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="33.3%">
                <mat-label>Idioma de Subtitulos</mat-label>
                <mat-select formControlName="lang_subtitles" multiple>
                  <mat-option *ngFor="let subtitle of languages" [value]="subtitle.language"> {{ subtitle.language }} </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="33.3%">
                <mat-label>Idioma de Voces</mat-label>
                <mat-select formControlName="lang_voices" multiple>
                  <mat-option *ngFor="let voice of languages" [value]="voice.language"> {{ voice.language }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <button mat-raised-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Requisitos">
          <form [formGroup]="gameForm" (ngSubmit)="onSubmit()" novalidate>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutAlign="center"
              layout-margin
            >
              <mat-form-field appearance="fill" fxFLex="50%">
                <mat-label>Sistema Operativo</mat-label>
                <mat-select formControlName="operative_systems" multiple>
                  <mat-option *ngFor="let os of operativeSystem" [value]="os.name"> {{ os.name }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="gameForm.controls['operative_systems'].value?.includes('WINDOWS')">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>WINDOWS</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>SO Minimo</mat-label>
                      <input matInput formControlName="windows_req_min_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Minimo</mat-label>
                      <input matInput formControlName="windows_req_min_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>DirectX Minimo</mat-label>
                      <input matInput formControlName="windows_req_min_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Tarjeta Grafica Minima</mat-label>
                      <input matInput formControlName="windows_req_min_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Internet Minimo</mat-label>
                      <input matInput formControlName="windows_req_min_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Ram Minima</mat-label>
                      <input matInput formControlName="windows_req_min_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Almacenamiento Minima</mat-label>
                      <input matInput formControlName="windows_req_min_storage">
                    </mat-form-field>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>SO Recomendado</mat-label>
                      <input matInput formControlName="windows_req_rec_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Recomendado</mat-label>
                      <input matInput formControlName="windows_req_rec_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>DirectX Recomendado</mat-label>
                      <input matInput formControlName="windows_req_rec_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Tarjeta Grafica Recomendada</mat-label>
                      <input matInput formControlName="windows_req_rec_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Internet Recomendado</mat-label>
                      <input matInput formControlName="windows_req_rec_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Ram Recomendada</mat-label>
                      <input matInput formControlName="windows_req_rec_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Almacenamiento Recomendado</mat-label>
                      <input matInput formControlName="windows_req_rec_storage">
                    </mat-form-field>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div *ngIf="gameForm.controls['operative_systems'].value?.includes('MAC')">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>MAC</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>SO Minimo</mat-label>
                      <input matInput formControlName="mac_req_min_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Minimo</mat-label>
                      <input matInput formControlName="mac_req_min_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>DirectX Minimo</mat-label>
                      <input matInput formControlName="mac_req_min_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Tarjeta Grafica Minima</mat-label>
                      <input matInput formControlName="mac_req_min_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Internet Minimo</mat-label>
                      <input matInput formControlName="mac_req_min_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Ram Minima</mat-label>
                      <input matInput formControlName="mac_req_min_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Almacenamiento Minima</mat-label>
                      <input matInput formControlName="mac_req_min_storage">
                    </mat-form-field>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>SO Recomendado</mat-label>
                      <input matInput formControlName="mac_req_rec_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Recomendado</mat-label>
                      <input matInput formControlName="mac_req_rec_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>DirectX Recomendado</mat-label>
                      <input matInput formControlName="mac_req_rec_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Tarjeta Grafica Recomendada</mat-label>
                      <input matInput formControlName="mac_req_rec_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Internet Recomendado</mat-label>
                      <input matInput formControlName="mac_req_rec_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Ram Recomendada</mat-label>
                      <input matInput formControlName="mac_req_rec_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Almacenamiento Recomendado</mat-label>
                      <input matInput formControlName="mac_req_rec_storage">
                    </mat-form-field>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div *ngIf="gameForm.controls['operative_systems'].value?.includes('LINUX')">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>LINUX</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>SO Minimo</mat-label>
                      <input matInput formControlName="linux_req_min_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Minimo</mat-label>
                      <input matInput formControlName="linux_req_min_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>DirectX Minimo</mat-label>
                      <input matInput formControlName="linux_req_min_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Tarjeta Grafica Minima</mat-label>
                      <input matInput formControlName="linux_req_min_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Internet Minimo</mat-label>
                      <input matInput formControlName="linux_req_min_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Ram Minima</mat-label>
                      <input matInput formControlName="linux_req_min_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Almacenamiento Minima</mat-label>
                      <input matInput formControlName="linux_req_min_storage">
                    </mat-form-field>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutAlign="center"
                    layout-margin
                  >
                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>SO Recomendado</mat-label>
                      <input matInput formControlName="linux_req_rec_so">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="14.2%">
                      <mat-label>Procesador Recomendado</mat-label>
                      <input matInput formControlName="linux_req_rec_processor">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>DirectX Recomendado</mat-label>
                      <input matInput formControlName="linux_req_rec_directx">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Tarjeta Grafica Recomendada</mat-label>
                      <input matInput formControlName="linux_req_rec_graphic_card">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Internet Recomendado</mat-label>
                      <input matInput formControlName="linux_req_rec_network">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Ram Recomendada</mat-label>
                      <input matInput formControlName="linux_req_rec_ram">
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="20%">
                      <mat-label>Almacenamiento Recomendado</mat-label>
                      <input matInput formControlName="linux_req_rec_storage">
                    </mat-form-field>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-raised-button color="primary" type="submit">Guardar</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newGame()">Crear otro</button>
    </div>

  </mat-card-content>
</mat-card>
