<div *ngIf="!submitted">
  <form>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput required [(ngModel)]="games.name" name="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" required [(ngModel)]="games.release_date" name="release_date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select [(ngModel)]="games.categories" name="categories" multiple>
        <mat-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button color="primary" (click)="saveGame()">Submit</button>
  </form>
</div>

<div *ngIf="submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newGame()">Add</button>
</div>
