<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Descargo de Responsabilidad</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Bienvenido a Game Nation X. Este descargo de responsabilidad rige el uso de nuestro sitio web ubicado en https://gamenax.com/ y cualquier servicio relacionado que ofrecemos.</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <h2>1.- Uso del Sitio Web</h2>
    <p>El uso de nuestro sitio web es bajo tu propio riesgo. La información y el contenido proporcionados en Game Nation X se ofrecen "tal cual" sin garantías de ningún tipo, ya sean expresas o implícitas. No nos responsabilizamos de la exactitud, integridad o confiabilidad de la información presentada en el sitio.</p>

    <h2>2.- Responsabilidad por el Contenido</h2>
    <p>Nos esforzamos por proporcionar contenido preciso y actualizado en Game Nation X. Sin embargo, no asumimos ninguna responsabilidad por cualquier error, omisión o inexactitud en el contenido. El contenido está sujeto a cambios sin previo aviso.</p>

    <h2>3.- Enlaces Externos</h2>
    <p>Game Nation X puede proporcionar enlaces a sitios web de terceros. No tenemos control sobre el contenido o la disponibilidad de estos sitios y no nos responsabilizamos de ningún daño o perjuicio causado por el uso de dichos sitios. El acceso a sitios externos es bajo tu propio riesgo.</p>

    <h2>4.- Cambios en el Sitio Web</h2>
    <p>Nos reservamos el derecho de modificar, suspender o interrumpir el funcionamiento de Game Nation X en cualquier momento y sin previo aviso. No nos responsabilizamos de ningún daño o perjuicio causado por dichas modificaciones, suspensiones o interrupciones.</p>

    <h2>5.- Virus y Seguridad</h2>
    <p>Hacemos todo lo posible para garantizar la seguridad de Game Nation X, pero no garantizamos que el sitio esté libre de virus u otros componentes dañinos. No nos responsabilizamos de ningún daño o perjuicio causado por posibles amenazas informáticas.</p>

    <h2>6.- Ley Aplicable y Jurisdicción</h2>
    <p>Este descargo de responsabilidad se regirá e interpretará de acuerdo con las leyes del país de México. Cualquier disputa que surja en relación con este descargo de responsabilidad estará sujeta a la jurisdicción exclusiva de los tribunales competentes de la ciudad de Campeche.</p>

    <h2>7.- Cambios en el Descargo de Responsabilidad</h2>
    <p>Nos reservamos el derecho de modificar este descargo de responsabilidad en cualquier momento sin previo aviso. Es tu responsabilidad revisar periódicamente esta sección para estar al tanto de las actualizaciones. El uso continuado de nuestro sitio después de cualquier modificación se considerará como aceptación de los cambios.</p>
  </mat-card-content>
</mat-card>
