@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 400),
      accent: mat.define-palette(mat.$blue-palette, 700),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 700),
      accent: mat.define-palette(mat.$blue-palette, 50),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);
a {
  color: #000000;
  text-decoration: none;
}

.white-text {
  color: #FFFFFF;
  text-decoration: none;
}

.zoom-image {
  transition: transform 0.4s ease;
}

.zoom-image:hover {
  transform: scale(1.05);
}


.dark-mode {
  @include mat.all-component-colors($dark-theme);
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}
